.box-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

@media only screen and (max-width: 1366px) {
  .uploader-box {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
    .uploader-box {
        width: 70%;
      }
  }

@media only screen and (max-width: 720px) {
    .uploader-box {
      width: 70%;
    }
  }

@media only screen and (max-width: 480px) {
    .uploader-box {
      width: 100%;
    }
  }

@media only screen and (max-width: 360px) {
    .uploader-box {
      width: 100%;
    }
  }
